<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Giggle Search</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

<body>
    <ul class="nav nav-tabs" style="height:50px;" id = "navBar">
        <li class="nav-item">
          <a class="nav-link active" style = "color:#b53737;" id="intervalTab">Interval/s <span class="glyphicon glyphicon-glyphicon glyphicon-align-left"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style = "color:#a4a5a6;" id="fileTab">File <span class="glyphicon glyphicon-glyphicon glyphicon-download-alt"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style = "color:#a4a5a6;" id ="infoTab">About <span class="glyphicon glyphicon-glyphicon glyphicon-info-sign"></span></a>
        </li>
    </ul>

  
    <div class="container" id="title">
        <br></br> <br></br> <br></br>
        <H1 style = font-size:75px align="center" id="gigglelogo"> <img src="../static/gigglelogo.png" width = "175px" style = "padding-bottom: 0px;" alt="Giggle Algorithm Logo Image, letters 'Gi' "> <font color="#a4a5a6" style = "font-family:Times New Roman; " >ggle</font></H1>   
        <H4 style = font-size:20px align="center"> <font color="#a4a5a6" style = "font-family:Times New Roman; "> Genomic Interval Overlap Search Engine </font></H4>
        <br></br>
      </div>

<div id="fileSection" style = "display:none;">
  {% if error != ""  or error == null %}
    <form class="was-validated form-justify-content-center" action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
    {% else %} 
    <form class="form-justify-content-center" action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
    {% endif %}

    <div class="form-group row justify-content-md-center" >
      <div class="col col-md-5">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button id = "refGenomeViewF" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ref Genome</button>
            <div class="dropdown-menu" id="dropdownF">
            </div>
            <input id = "refGenomeF" name="reference genome" name = "interval" style="display:none;">
          </div>
          {{ fileform.file }}
        </div>
      </div>
    </div>

    <div class="form-group row justify-content-md-center">
        <div class="col-md-auto">
            <div class="btn-group" id = "fileform">
              <button type="submit" onclick="fileloading();" class="btn btn-md btn-danger mb-2">Search Overlapping intervals</button>
                {{ fileform.csrf_token }}    
              </div>
        </div>
      </div>     
    </form>
  </div>

  <div id="intervalSection">
    {% if error != "" or error == null %}
    <form id = "intervalform" class="was-validated form-justify-content-center" action="{{ url_for('home') }}" method="post">
    {% else %} 
      <form id = "intervalform" class="form-justify-content-center" action="{{ url_for('home') }}" method="post">
    {% endif %}

        <div class="form-group row justify-content-md-center" >
            <div class="col col-md-5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button id = "refGenomeViewI" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ref Genome</button>
                  <div class="dropdown-menu" id="dropdownI"></div>
                  <input id = "refGenomeI" name="refGenome" name = "interval" style="display:none;">
                </div>
                  {% if error != "" %}
                  <input id="interval" name = "interval" style="text-align:left;" class="form-control form-control-md form-control-borderless" type="intervals" placeholder="chr<#>: <lower> - <upper> , (additional intervals...)" required>
                  <div class="invalid-feedback">{{error}} (review 'about' tab for formatting rules)</div>
                  {% else %} 
                  <input id="interval" name = "interval" style="text-align:left;" class="form-control form-control-md form-control-borderless" type="intervals"  placeholder="chr<#>: <lower> - <upper> , (additional intervals...)">
                  {% endif %}
              </div>
            </div>
          </div>
        

          <div class="form-group row justify-content-md-center">
            <div class="col-md-auto">
                <div class="btn-group">
                    <button type="submit" onclick="intervalloading();" class="btn btn-md btn-danger mb-2">Search Overlapping intervals</button>
                  </div>
              {{ intervalform.csrf_token }}
            </div>
        </div>
    </form>
    </div>



  <div class="justify-content-center" id="infoSection" style = "display:none;">
      <br> <br>
      <div class="row justify-content-center">
    <div class="card card-body col-9">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <H1 style = font-size:40px align="left" id="gigglelogo"> <img src="../static/gigglelogo.png" width = "100px" style = "padding-bottom: 0px;" alt="Giggle Algorithm Logo Image, letters 'Gi' "> <font color="#a4a5a6" style = "font-family:Times New Roman; " >ggle</font></H1>
              </li><li class="list-group-item">
                <p>As an interface for the algorithm <a href="https://github.com/ryanlayer/giggle">Giggle</a> this search engine takes user inputted chromosome regions and finds overlapping annotation files in genomic databases, such as the UCSC Genomic Institute.  </p>
            </li>
            <li class="list-group-item">
                <h4 style="color:#00008b;">HOW TO: Text Input Interval Search</h4>
              <p>
                Enter interval/s of interest in designated format:<br>
                 - General Format for Single Interval: chr(#): (lower bound base position) - (upper bound base position) in (reference genome)<br>
                 - General Format for Multi Interval: chr(#): (lower bound base position) - (upper bound base position), (lower bound base position) - (upper bound base position), ... ,chr(#):(lower bound base position) - (upper bound base position) in (reference genome)<br>
              
                 <!-- <br> <br>
               The parser will take variable formats, for example the ":" or "-" seperating the chr and the bounds just needs to be some symbol. 
               <br><br> But to be valid:
               <br>
               1. The chr(#) must not have a space between the number and the string "chr"
               <br>
               2. The chromosome/bounds must each have a seperator between them (either a space or symbol)
               <br>
               3. The last word in the query must be the source name code as specified below.
               <br>
               4. Extra spaces or symbols will be removed during parsing
              <br> <br>
               chr2:1000-2000 from UCSC will be parsed the same as chr2??1000---2000 FrOmm UCSC. But just because you CAN, does not mean you SHOULD.
               <br> <br> -->
               It will be easiest and most accurate if you follow the pattern format below. Here are some examples:

              </p>

                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Example</th>
                          <th scope="col">Input</th>
                          <th scope="col">Interpretation</th>
                        </tr>
                      </thead>
                      <tr>
                          <th>Single Interval</th>
                          <td>chr1: 100-2000 in hg19</td>
                          <td>Finds overlap in bases 100 to 2000 in Chromosome 1 with files with the reference genome of hg19.</td>
                      </tr>
                      <tr>
                          <th>Multi Interval</th>
                          <td>chr1:100-2000, chr1:150000-160000 in rn6</td>
                          <td>Finds overlap in bases 100 to 2000 in Chromosome 1 or bases 150000 to 160000in Chromosome 1 with the reference genome of rn6</td>
                      </tr>
                      <tr>
                          <td colspan="3">
                            <p> ** Important Note about Multi Interval search: entering multiple intervals does not return combined overlapping bases, instead it finds overlap for each interval and allows you to toggle between the intervals entered </p>
                            </td>
                      </tr>
                </table>
                
                <h5> Current Restrictions (Subject to Change with New Versions)</h5>
                <table class="table">
                    <tr>
                        <th>Available Reference Genome</th>
                        <td>{{genomes}}</td>
                    </tr>
                    <tr>
                        <th>Max Interval Width</th>
                        <td>One megabase or 1000000 bases</td>
                    </tr>
                    <tr>
                        <th>Chromosome Bounds</th>
                        <td>Base positions should not exceed chromosome size bounds, they should also not be negative.</td>
                    </tr>
                </table>
               
            </li>
            <li class="list-group-item">
              <h4 style="color:#00008b;">HOW TO: File Search</h4>
              Use choose file tab and input a .bed file or .bed.gz file
            </li>

            <li class="list-group-item">
                <h4 style="color:#00008b;">Additional Features</h4>
                <table class="table">
                    <tr>
                        <th>UCSC Genome Browser Connection</th>
                        <td>If UCSC is the inputted source a toggle will appear below the search bar to allow for top # of overlapping files to be displayed in the UCSC Genome Track browser</td>
                    </tr>

                </table>

            </li>
          </ul>
    </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  
</body>
<script> 
  var genomes = {{genomes| safe }};
  genomes = genomes.sort();
    
  d3.select("#dropdownF")
    .selectAll('myOptions')
    .data(genomes)
    .enter()
      .append('a')
      .attr("class", "dropdown-item")
      .text(function (d) { return d; }) // text showed in the menu
      .attr("value", function (d) { return d; }) // corresponding value returned by the button
      .on("click", function(d) {
        document.getElementById("refGenomeViewF").innerHTML = d
        document.getElementById("refGenomeF").value = d
      });

  d3.select("#dropdownI")
    .selectAll('myOptions')
    .data(genomes)
    .enter()
      .append('a')
      .attr("class", "dropdown-item")
      .text(function (d) { return d; }) // text showed in the menu
      .attr("value", function (d) { return d; }) // corresponding value returned by the button
      .on("click", function(d) {
        document.getElementById("refGenomeViewI").innerHTML = d
        document.getElementById("refGenomeI").value = d
      });

  function intervalloading(){
    // <H1 style = font-size:75px align="center" id="gigglelogo"> <img src="../static/gigglelogo.png" width = "175px" style = "padding-bottom: 0px;" alt="Gi"> <font color="#a4a5a6" style = "font-family:Times New Roman; " >ggle</font></H1>
        document.getElementById("gigglelogo").innerHTML = "<img src=\"../static/gigglelogo.gif\" width = \"175px\" style = \"padding-bottom: 0px;\" alt=\"Gi\"> <font color=\"#a4a5a6\" style = \"font-family:Times New Roman; \" >ggle</font>";
        document.getElementById("help").style.display="none";
        document.getElementById("intervalform").style.display="none";

      }
  function fileloading(){
    // <H1 style = font-size:75px align="center" id="gigglelogo"> <img src="../static/gigglelogo.png" width = "175px" style = "padding-bottom: 0px;" alt="Gi"> <font color="#a4a5a6" style = "font-family:Times New Roman; " >ggle</font></H1>
        document.getElementById("gigglelogo").innerHTML = "<img src=\"../static/gigglelogo.gif\" width = \"175px\" style = \"padding-bottom: 0px;\" alt=\"Gi\"> <font color=\"#a4a5a6\" style = \"font-family:Times New Roman; \" >ggle</font>";
        document.getElementById("help").style.display="none";
        document.getElementById("fileform").style.display="none";

      }

 $(document).ready(function(){
    $("#intervalTab").click(function(){
      $("#fileSection").hide();
      $("#infoSection").hide();
      $("#intervalSection").show();
      $("#title").show();
      $( "#intervalTab" ).addClass( "active" ).css({ "color": "#b53737" });
      $( "#fileTab" ).removeClass( "active" ).css({ "color": "#a4a5a6" });
      $( "#infoTab" ).removeClass( "active" ).css({ "color": "#a4a5a6" });
    });
    $("#fileTab").click(function(){
      $("#intervalSection").hide();
      $("#infoSection").hide();
      $("#fileSection").show();
      $("#title").show();
      $( "#intervalTab" ).removeClass( "active" ).css({ "color": "#a4a5a6" });
      $( "#fileTab" ).addClass( "active" ).css({ "color": "#b53737" });
      $( "#infoTab" ).removeClass( "active" ).css({ "color": "#a4a5a6" });
    });
    $("#infoTab").click(function(){
      $("#intervalSection").hide();
      $("#fileSection").hide();
      $("#title").hide();
      $("#infoSection").show();
      $( "#intervalTab" ).removeClass( "active" ).css({ "color": "#a4a5a6" });
      $( "#fileTab" ).removeClass( "active" ).css({ "color": "#a4a5a6" });
      $( "#infoTab" ).addClass( "active" ).css({ "color": "#b53737" });
    });
    });
</script>

</html>