<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Giggle Search</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
        <br></br> <br></br> <br></br> <br></br>
        <H1 style = font-size:75px align="center"> <a href="/"><img src="../static/gigglelogo.gif" width = "175px" style = "padding-bottom: 0px;" alt="Gi"> <font color="#a4a5a6" style = "font-family:Times New Roman; " ></font></a> ot  Nothing</H1>
        <br></br>
        <H5 style = font-size:20px align="center"> "/{{utterNoneSense}}" does not exist</H5> 
        
        <br></br>

</body>
</html>